import { Service } from '@MNI/di';
import { DataSource, Repository } from '@MNI/typeorm';

import { MyFeatureEntity } from './my-feature.entity';

@Service()
export class MyFeatureRepository extends Repository<MyFeatureEntity> {
	constructor(dataSource: DataSource) {
		super(MyFeatureEntity, dataSource.manager);
	}

	async getSummary() {
		return await Promise.resolve({}); 
	}
}
