import { Config, Env } from '@MNI/config';

@Config
export class MyFeatureConfig {
	/**
	 * How often in minutes to run some task.
	 * @default 30
	 */
	@Env('MNI_MY_FEATURE_TASK_INTERVAL')
	taskInterval: number = 30;
}
